<header>
  <div>
    <%= link_to "BookReviewing", '#', id: "logo" %>
    <nav>
      <ul >
        <li><%= link_to "Trang chủ", root_path %></li>
        <li><%= link_to "Trợ giúp", help_path %></li>
        <li><%= link_to "Đăng nhập", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
